#report-dialog {
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    border: none;
    border-radius: 0.375em; 
    padding: 1.5625em; 
    transform: translate(-50%,-50%) scale(.9); 
    background-color: #D9D9D9;
    max-width: 70%;
    max-height: 95%;
    overflow: auto;
    visibility: hidden;
}

.report-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-report-btn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.report-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;

    button {
        background-color: transparent;
        border: 0.1em solid #375466;
        color: #375466;
        padding: 0.25em;
        width: 33%;
        height: 3em;
    }
}

.report-content-container {
    display: flex;
    gap: 1em;
    align-items: center;
    color: #375466;
    font-size: 1.375em;
    font-weight: 400;
}

.line {
    width: 70%;
    height: 0.0625em;
    background-color: #375466;
    vertical-align: middle;
}

.report-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;

    button {
        background-color: transparent;
        border: 0.1em solid #375466;
        color: #375466;
        padding: 0.25em;
        width: 20%;
        height: 3em;
    }
}

.activity-card {
    display: flex;
    border-radius: 0.25em;
    background-color: rgb(55, 84, 102, 0.36);
    color: white;
    padding: 0.5em;
    width: 11em;
    height: 8em;
}

.activity-card--left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.activity-card--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;

    h3 {
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        font-size: 3em;
        font-weight: 600;
    }

    p {
        text-align: end;
    }
}

.report-button-active {
    background-color: #375466 !important;
    color: white !important;
}

.line-graph {
    width: 40vw !important;
}

.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.graph-footer {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.prev-week-btn, .next-week-btn {
    background-color: transparent;
    border: 0.1em solid #375466;
    color: #375466;
    padding: 0.25em;
    width: 20%;
    height: 3em;
}

.current-week {
    color: #375466;;
}